<br>
We are searching for: <strong><%= @search.query %></strong>!
<br /><br />

<h1>Search results</h1><br>
<% @items.each_with_index do |item, key| %>
  <%
  product_link = provider_path(item.provider, :q => @search.query)
  %>
  &bull; <%= link_to item.name, product_link %>
  <%= link_to 'Order', product_link, :class => 'btn btn-mini' %><br />
<% end %>
<br />
<%= link_to 'See all providers', providers_path %>
<br>
<br>
<%#= image_tag "http://maps.google.com/maps/api/staticmap?size=300x150&sensor=false&zoom=14&markers=#{@geo.first.latitude}%2C#{@geo.first.longitude}" %>
<br>