<br>
We are searching for: <strong><%= @search.query %></strong>!
<br><br>

<h1>Search results</h1><br>

<div style="float: left; width=300px">
	<%= render 'map' %>
</div>
<div style="float: right">
	<% @items.each_with_index do |item, key| %>
	<%
	provider = item.provider
	product_link = place_path(provider, :q => @search.query)
	%>
	&bull; <%= link_to provider.name, product_link %>
	<br>
	<% end %>
	<%= link_to 'See all places', places_path %>
</div>

<br>
<br>
