<h1>homepage</h1>

Here suppose to be search form where customers can enter their search details,
what they want and where they live

<br />

<%= form_tag('/results', :method => :get) do -%>
  <%= search_field_tag 'address', nil, :placeholder => 'Where are you?' %><br />
  <%= search_field_tag 'wish', nil, :placeholder => 'What would you like?' %><br /><br />
  <%= submit_tag 'Search' %>
<% end -%>