<section id="billboard">
  <div class="container">
		<div class="search-box">
		  <h1><%= t 'Order online for free' %></h1>

		  <br>
		  <%= render :partial => 'layouts/errors', :locals => { :object => @search } %>
		  <label>What would you like?</label>
		  <%= render 'layouts/search' %>

		</div>
  </div>

</section>
