<h1>homepage</h1>

Here suppose to be search form where customers can enter their search details,
what they want and where they live

<br />

<input type="text" value="" placeholder="Where are you?" name="addr" />
<input type="text" value="" placeholder="What would you like?" name="q" />
<br />
<input type="submit" value="Search" />