<h1><%= current_user.first_name %></h1>

<p>
Email: <%= current_user.email %>
</p>
<p>Last order was made at: 2012 05 15</p>
<p>Orders in total: 59 times</p>
<p>Badges:</p>
<ul>
  <li>Cookie monster</li>
  <li>Pizza maniac</li>
</ul>
<br>
<p>Reviews this user has made</p>
<ul>
  <li>review 1</li>
  <li>review 2</li>
  <li>review 3</li>
</ul>
<br>

<p>User's most favorite ordering places</p>
<ul>
  <li>Domino pizza</li>
  <li>Lastrega</li>
</ul>