@import "bootstrap";

// Alerts
#flash_notice {
	@extend .alert;
	@extend .alert-success;
}
#flash_alert {
	@extend .alert;
	@extend .alert-error;
}

.modal {
	display: none;
	form {
		margin: 0;
	}
}

// Homepage Billboard (Hero Unit)
#billboard {
	padding: 60px 0;
	background: #333; //url(https://s3.amazonaws.com/foodzie/site/landing/bkg-home.png) no-repeat center center;
	background-size: cover;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/data/promo/cb_home1.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/data/promo/cb_home1.jpg', sizingMethod='scale')";
	min-height: 200px;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;

	label, h1, h2, h3, div {
		color: rgba(255,255,255, .85);
	}

	input[type="search"] {
		padding: 10px;
		margin-bottom: 20px;
		font-size: $baseFontSize + 2;
	}
}

// Page Elements
#footer {
	clear: both;
}