@import "bootstrap";

// Alerts
#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_alert {
  @extend .alert;
  @extend .alert-error;
}

.modal {
  display: none;
  form {
    margin: 0;
  }
}

body {
  background: url("/assets/bg-body.gif");
}

.small {
  font-size: 11px;
}

// Homepage Billboard (Hero Unit)
#billboard {
  padding: 60px 0;
  background: #333 url(/assets/bg-home.png) no-repeat center center;
  background-size: cover;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/data/promo/cb_home1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/image/data/promo/cb_home1.jpg', sizingMethod='scale')";
  min-height: 200px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  @include box-shadow( inset 0 0 80px rgba(0,0,0, .90));

  h1 {
    text-transform:lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input[type="search"] {
    padding: 10px;
    margin-bottom: 15px;
    font-size: $baseFontSize + 2;
  }

  .search-box {
    background: rgba(255,255,255, .97);
    float: left;
    padding: 20px 20px 5px;
    @include border-radius();
    @include box-shadow(0 4px 10px rgba(0,0,0, .7))
  }

}

// Page Elements
#footer {
  clear: both;
}
.provider {
  background: white;
  @include box-shadow(0 1px 5px rgba(0,0,0, .05));
  padding: 25px;

  .menu-category {
    margin-bottom: 40px;
    float: left;

    .thumb {
      height: 90px;
      overflow: hidden;
    }

    h3 {
      margin: 10px 0;
    }
  }
}

.menu {
  margin-left: -25px;

  > li {
    width: 270px;
    margin-left: 25px;
    float: left;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    list-style: none;
    position: relative;

    &:hover .action {
      display: inline-block;
    }
  }

  .action {
    float: right;
    padding-right: 10px;
    position: absolute;
    display: none;

  }
  .price {
    font-weight: bold;
    float: right;
    color: $green
  }
}


// Global Search Bar
.search-bar {
  background: white;
  padding: 18px 0 10px;
  margin-bottom: 20px;
  @include box-shadow(0 1px 3px rgba(0,0,0,.05));

  input[type=text],
  input[type=search],
  select {
    margin-bottom: 0;
    @include box-sizing(border-box);
    width: 100%;
    height: 38px;
    font-size: 15px;
    padding-left: 8px;
  }

  select {
    background: white;
  }
}

input.location {
  background: url(/assets/icons/geo.png) no-repeat 8px center;
  padding-left: 25px !important;
}
input.food {
  background: url(/assets/icons/pacman.png) no-repeat 8px center;
  padding-left: 25px !important;
}


// Results
.restaurant.result {
  background: white;
  @include box-shadow(0 1px 3px rgba(0,0,0,.05));
  @include border-radius(4px);
  margin-top  : 20px;
  padding: 20px;

  > h2 {
    font-size: 15px;
    text-transform: capitalize;
  }
}
